<!-- Message -->
<section
  id="Contact"
  class="Contact-page position-relative bg-image"
  style="
    background-image: url(assets/Images/contact.jpg);
    background-size: cover;
  "
>
  <div class="overlay-blue"></div>
  <div class="container pb-3">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="contact-container">
          <div class="box-shadow-full">
            <div class="row contact-row px-4">
              <div class="title-box text-center">
                <h3 class="title-a">Send a message!</h3>
                <p class="subtitle-a mb-3">
                  Reach Out to Us for Support and Assistance.
                </p>
                <div class="line-mf mb-2"></div>
              </div>
              <div class="col-md-12 mt-2">
                <form class="contact-form">
                  <div class="row justify-content-start align-items-center">
                    <div class="col-md-6 mb-3">
                      <label for="fname" class="form-label fw-bold mt-2"
                        >Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="fname"
                        placeholder="Your Name"
                        required
                      />
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="">
                        <label for="email" class="form-label fw-bold mt-2"
                          >Email Address</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="name@example.com"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="pass" class="form-label fw-bold mt-2"
                          >Password</label
                        >
                        <input
                          type="password"
                          id="pass"
                          class="form-control"
                          placeholder="Password ..."
                          name="password"
                          aria-describedby="passwordHelpBlock"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="subject" class="form-label fw-bold mt-2"
                          >Subject</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="subject"
                          id="subject"
                          placeholder="Subject"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="message" class="form-label fw-bold mt-2"
                          >Message</label
                        >
                        <textarea
                          class="form-control"
                          name="message"
                          id="message"
                          rows="5"
                          placeholder="Message"
                          required=""
                        ></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 text-center mt-4">
                      <button
                        type="submit"
                        id="submitBtn"
                        class="btn btn-primary mb-4"
                      >
                        Send Message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
