<div class="min-vh-100">
  <div></div>
  <div class="container my-4">
    <button
      [routerLink]="'/showexams'"
      class="btn btn-warning text-secondary my-3"
    >
      Exit From Exam
    </button>

    <h1 class="subject-name display-4 text-center">
      {{ currentQuestion.examName }}
    </h1>

    <div class="question-section my-5">
      <div class="d-flex justify-content-between">
        <h3 class="question fs-3">{{ currentQuestion.title }}</h3>
        <button class="btn btn-success">
          {{ currentIndex + 1 }} OF {{ Exams.length }} Questions
        </button>
      </div>
      <div class="d-flex align-items-center">
        <input
          type="radio"
          class="my-3"
          [value]="currentQuestion.choice1"
          id="choice_{{ currentQuestion.choice1 }}"
          name="choice"
          [(ngModel)]="selectedChoice"
        />
        <label
          class="mx-3 fs-4 abs"
          for="choice_{{ currentQuestion.choice1 }}"
          role="button"
          >{{ currentQuestion.choice1 }}</label
        >
      </div>
      <div class="d-flex align-items-center">
        <input
          type="radio"
          class="my-3"
          [value]="currentQuestion.choice2"
          id="choice_{{ currentQuestion.choice2 }}"
          name="choice"
          [(ngModel)]="selectedChoice"
        />
        <label
          class="mx-3 fs-4 abs"
          for="choice_{{ currentQuestion.choice2 }}"
          role="button"
          >{{ currentQuestion.choice2 }}</label
        >
      </div>

      <div class="d-flex align-items-center">
        <input
          type="radio"
          class="my-3"
          [value]="currentQuestion.choice3"
          id="choice_{{ currentQuestion.choice3 }}"
          name="choice"
          [(ngModel)]="selectedChoice"
        />
        <label
          class="mx-3 fs-4 abs"
          for="choice_{{ currentQuestion.choice3 }}"
          role="button"
          >{{ currentQuestion.choice3 }}</label
        >
      </div>

      <div class="d-flex align-items-center">
        <input
          type="radio"
          class="my-3"
          [value]="currentQuestion.choice4"
          id="choice_{{ currentQuestion.choice4 }}"
          name="choice"
          [(ngModel)]="selectedChoice"
        />
        <label
          class="mx-3 fs-4 abs"
          for="choice_{{ currentQuestion.choice4 }}"
          role="button"
          >{{ currentQuestion.choice4 }}</label
        >
      </div>
    </div>

    <!--Remove Previous Buttton -->
    <div class="d-flex justify-content-end">
      <!--  <button
        [disabled]="currentIndex === 0"
        (click)="previousQuestion()"
        class="btn p-2 btn-outline-secondary"
      >
        Previous
      </button> -->

      <ng-container [ngSwitch]="currentIndex == Exams.length - 1">
        <button
          *ngSwitchCase="false"
          (click)="nextQuestion(selectedChoice)"
          class="btn p-3 btn-outline-primary"
        >
          Next
        </button>
        <button
          *ngSwitchCase="true"
          (click)="submitExam(selectedChoice)"
          class="btn p-3 btn-danger"
        >
          Submit
        </button>
      </ng-container>
    </div>
    <p
      *ngIf="Error == true"
      class="alert alert-danger w-50 mx-auto text-center"
    >
      Please Choose Answer
    </p>
  </div>
</div>
