<div class="d-flex flex-wrap justify-content-center align-items-center">
  <div class="col-md-12 text-center">
    <img src="assets/Images/register.png" class="img-fluid" />
  </div>
  <div class="contents col-md-12">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <div class="mb-4 text-center">
            <h3 class="fs-1">Register</h3>
            <p class="mb-4">
              Register now and connect with learners from around the world.<br />
              Gain access to our expert exams and take the first step towards
              achieving your goals
            </p>
          </div>
          <form action="#" class="row justify-content-center" method="post">
            <div class="form-group col-md-6 first my-1">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" />
            </div>

            <div class="form-group col-md-6 first my-1">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" />
            </div>

            <div class="form-group col-md-6 first my-1">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" />
            </div>

            <div class="form-group col-md-6 first my-1">
              <label for="role">Role</label>
              <select class="form-select" aria-label="Default select example">
                <option selected value="">--Select Role--</option>
                <option value="instructor">Instructor</option>
                <option value="student">Student</option>
              </select>
            </div>

            <div class="form-group col-md-6 last my-1">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" />
            </div>

            <div class="form-group col-md-6 last my-1">
              <label for="repassword">Confirm Password</label>
              <input type="password" class="form-control" id="repassword" />
            </div>

            <div class="col-md-2">
              <input
                type="submit"
                value="Register"
                class="btn btn-block btn-primary my-3"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
