<footer id="footer" class="position-relative start-0 end-0 bottom-0">
  <div class="container">
    <div class="content">
      <div class="row text-center mb-5"></div>
      <div class="row my-5">
        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
          <h5 class="text-white">Contact Info</h5>
          <p>1650 Lombard Street, San Francisco, CA 94123</p>
          <p>+1 (415) 876-3250 email@sitename.com</p>
        </div>

        <div class="col-lg-3 col-md-6 mb-3 mb-md-0">
          <h5 class="text-white">Useful Links</h5>
          <ul class="fw-semibold">
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms & Conditions</a>
            </li>
            <li>
              <a href="#">Affiliate Program</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 mb-md-0">
          <h5 class="text-white">Recent Posts</h5>
          <ul class="fw-semibold">
            <li>
              <a href="#">Sunset in Venice</a>
            </li>
            <li>
              <a href="#">Aerial View of Village</a>
            </li>
            <li>
              <a href="#">Lighted Concrete City</a>
            </li>
            <li>
              <a href="#">The Little Ghost</a>
            </li>
            <li>
              <a href="#">Royal Oats ft. Waldo</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
          <h5 class="text-white">Popular Tags</h5>
          <div class="row">
            <div class="tags">
              <a class="" href="#">Math</a>
              <a href="#">Physics</a>
              <a href="#">Chemistry</a>
              <a href="#">English</a>
              <a href="#">Web</a>
              <a href="#">Graphic</a>
              <a href="#">Design</a>
              <a href="#">Development</a>
              <div class="clear-fix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright bg-black position-absolute fixed-bottom py-4">
      <div class="container">
        <div class="row justify- align-items-center">
          <div class="col-md-6">
            <div
              class="team-social-icons d-flex align-items-center justify-content-center justify-content-md-start mb-3 mb-md-0"
            >
              <a href="#" class="me-3">
                <i class="fa-brands fa-twitter nav-link"></i>
              </a>
              <a href="#" class="me-3">
                <i class="fa-brands fa-facebook-f nav-link"></i>
              </a>
              <a href="#" class="me-3">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#" class="me-3">
                <i class="fab fa-dribbble"></i>
              </a>
              <a href="#" class="me-3">
                <i class="fa-brands fa-pinterest"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="content text-end d-flex justify-content-center justify-content-md-end"
            >
              <span class="p-0 m-0"
                >Copyright © 2023
                <a href="#" class="fw-bold fs-6">Examination System</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
