<footer id="footer" class="position-relative start-0 end-0 bottom-0">
  <div class="container">
    <div class="content">
      <div class="row text-center mb-5"></div>
      <div class="row my-5">
        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
          <h5 class="text-white">Contact Info</h5>
          <p>1650 Lombard Street, San Francisco, CA 94123</p>
          <p>+1 (415) 876-3250 email@sitename.com</p>
        </div>

        <div class="col-lg-3 col-md-6 mb-3 mb-md-0">
          <h5 class="text-white">Useful Links</h5>
          <ul class="fw-semibold">
            <li>
              <a>Support</a>
            </li>
            <li>
              <a>Privacy Policy</a>
            </li>
            <li>
              <a>Terms & Conditions</a>
            </li>
            <li>
              <a>Affiliate Program</a>
            </li>
            <li>
              <a>Careers</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 mb-md-0">
          <h5 class="text-white">Recent Posts</h5>
          <ul class="fw-semibold">
            <li>
              <a>How to Prepare for Your Exams</a>
            </li>
            <li>
              <a>Top 10 Study Tips for Success</a>
            </li>
            <li>
              <a>The Benefits of Online Learning</a>
            </li>
            <li>
              <a>How to Manage Exam Stress</a>
            </li>
            <li>
              <a>The Importance of Time Management</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
          <h5 class="text-white">Popular Tags</h5>
          <div class="row">
            <div class="tags">
              <a class="">Math</a>
              <a>Physics</a>
              <a>Chemistry</a>
              <a>English</a>
              <a>Web</a>
              <a>Graphic</a>
              <a>Design</a>
              <a>Development</a>
              <div class="clear-fix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright bg-black position-absolute fixed-bottom py-4">
      <div class="container">
        <div class="row justify- align-items-center">
          <div class="col-md-6">
            <div
              class="team-social-icons d-flex align-items-center justify-content-center justify-content-md-start mb-3 mb-md-0"
            >
              <a class="me-3">
                <!-- <i class="fa-brands fa-whatsapp nav-link text-success"></i> -->
                <img src="assets/Images/whatsapp.png" alt="" />
              </a>
              <a class="me-3">
                <!-- <i class="fa-brands fa-facebook-f nav-link text-primary"></i> -->
                <img src="assets/Images/facebook.png" alt="" />
              </a>
              <a class="me-3">
                <!-- <i class="fa-brands fa-linkedin text-primary"></i> -->
                <img src="assets/Images/linkedin.png" alt="" />
              </a>
              <a class="me-3">
                <!-- <i class="fab fa-youtube text-danger"></i> -->
                <img src="assets/Images/youtube.png" alt="" />
              </a>
              <a class="me-3">
                <!-- <i class="fa-brands fa-instagram text-danger"></i> -->
                <img src="assets/Images/instagram.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="content text-end d-flex justify-content-center justify-content-md-end"
            >
              <span class="p-0 m-0"
                >Copyright © 2023
                <a class="fw-bold fs-6 text-warning fs-5">Exam Nation</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
