<nav class="navbar navbar-expand-lg navbar-dark bg-black text-light">
  <div class="container-fluid">
    <a
      class="navbar-brand ms-2 me-5 text-warning fw-bold"
      [routerLink]="'/home'"
    >
      <img src="assets/Images/logo.png" class="mb-1" alt="" />
      EXAM NATION
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            role="button"
            [routerLink]="'/home'"
            [routerLinkActive]="'text-warning'"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="button"
            [routerLink]="'/aboutus'"
            [routerLinkActive]="'text-warning'"
            href="#"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="button"
            [routerLink]="'/contact'"
            [routerLinkActive]="'text-warning'"
            href="#"
            >Contact Us</a
          >
        </li>

        <li class="nav-item">
          <a
            *ngIf="isLogin && !isStudent"
            class="nav-link"
            [routerLink]="'/showexams'"
            [routerLinkActive]="'text-warning'"
            role="button"
            >Show Exams</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLogin && isStudent"
            class="nav-link"
            [routerLink]="'/exams'"
            [routerLinkActive]="'text-warning'"
            role="button"
            >Exams</a
          >
        </li>
      </ul>
      <ul class="ms-auto navbar-nav">
        <li class="nav-item">
          <a *ngIf="isLogin" class="nav-link" role="button">{{ userName }}</a>
        </li>
        <li class="nav-item">
          <a
            *ngIf="!isLogin"
            class="nav-link"
            [routerLink]="'/login'"
            [routerLinkActive]="'text-warning'"
            role="button"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="!isLogin"
            class="nav-link"
            [routerLink]="'/register'"
            [routerLinkActive]="'text-warning'"
            role="button"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a *ngIf="isLogin" (click)="logOut()" class="nav-link" role="button"
            >Logout</a
          >
        </li>
      </ul>
    </div>
      
  </div>
</nav>
