<div class="conatiner text-center">
  <section class="page_404 text-center">
    <div class="container">
      <div class="row justify-content-center align-items-center text-center">
        <h1 class="text-center mb-5 text-404">404</h1>
        <div class="col-sm-10 text-center">
          <div class="four_zero_four_bg"></div>

          <div class="contant_box_404 mt-4">
            <h3>LOOK LIKE YOU'RE LOST</h3>

            <h4>THE PAGE YOU ARE LOOKING FOR IS NOT AVAILABLE!</h4>

            <a href="" class="btn btn-success">GO TO HOME</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
