<section id="Services" class="services-page bg-light py-4">
  <div class="container px-4 text-center">
    <div class="section-head my-3">
      <h3 class="mb-2 lh-1">Features of Exam Nation</h3>
      <p class="fs-4 mb-5 lead">
        our exams helps students detect their level in subjects
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <div class="mb-4"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="service-box px-5">
          <div class="service-ico">
            <span class="ico-circle">
              <i class="fa-solid fa-question"></i>
            </span>
          </div>
          <div class="service-content text-center">
            <h6 class="s-title">Good Questions</h6>
            <p class="s-description text-center">
              We have crafted our questions carefully to provide you with a
              meaningful and insightful experience.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-box px-5">
          <div class="service-ico">
            <span class="ico-circle">
              <i class="fa-solid fa-user-group"></i>
            </span>
          </div>
          <div class="service-content text-center">
            <h6 class="s-title">Good Feedback and results</h6>
            <p class="s-description text-center">
              Our commitment to providing you with personalized and detailed
              feedback ensures that you receive the best possible results
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-box px-5">
          <div class="service-ico">
            <span class="ico-circle">
              <i class="fa-solid fa-square-poll-horizontal"></i>
            </span>
          </div>
          <div class="service-content text-center">
            <h6 class="s-title">Previous Results Compare</h6>
            <p class="s-description text-center">
              We have a proven track record of success, and we invite you to
              compare our previous results to see for yourself.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-box px-5">
          <div class="service-ico">
            <span class="ico-circle">
              <i class="fa-solid fa-mobile"></i>
            </span>
          </div>
          <div class="service-content text-center">
            <h6 class="s-title">Mobile Responsive</h6>
            <p class="s-description text-center">
              Our platform is designed to be fully mobile responsive, ensuring
              that you can access and use our services from anywhere, at any
              time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
