<div class="container my-5">
  <h1 class="display-5">Features of Online Examination</h1>
  <p class="fs-4 mb-5">
    our exams helps students detect their level in subjects
  </p>
  <div class="row justify-content-around g-4">
    <div class="col-md-5 question">
      <div class="circle">
        <i class="fa-solid fa-question fs-2"></i>
      </div>
      <h1>Good Questions</h1>
      <p>
        We Have done it carefully and simply. Combined with the ingredients that
        helps you improve
      </p>
    </div>
    <div class="col-md-5 question">
      <div class="circle">
        <i class="fa-solid fa-user-group"></i>
      </div>
      <h1>Good Feedback and results</h1>
      <p>
        We Have done it carefully and simply. Combined with the ingredients that
        helps you improve
      </p>
    </div>

    <div class="col-md-5 question">
      <div class="circle">
        <i class="fa-solid fa-square-poll-horizontal"></i>
      </div>
      <h1>Previous Results Compare</h1>
      <p>
        We Have done it carefully and simply. Combined with the ingredients that
        helps you improve
      </p>
    </div>

    <div class="col-md-5 question">
      <div class="circle">
        <i class="fa-solid fa-mobile"></i>
      </div>
      <h1>Mobile Responsive</h1>
      <p>
        We Have done it carefully and simply. Combined with the ingredients that
        helps you improve
      </p>
    </div>
  </div>
</div>
